## Plantilla de archivo de configuración de variables de entorno para el proyecto

SPRING_PROFILES_ACTIVE=dev

SERVER_PORT=8080

AWS_REGION=us-east-1
AWS_S3_BUCKET_NAME=nombre-del-bucket-s3

EFS_MOUNT_PATH=/app/efs-temporal

AZURE_B2C_ISSUER_URI=https://TU_TENANT.b2clogin.com/TU_TENANT.onmicrosoft.com/TU_POLICY/v2.0/
AZURE_B2C_JWK_SET_URI=https://TU_TENANT.b2clogin.com/TU_TENANT.onmicrosoft.com/TU_POLICY/discovery/v2.0/keys
AZURE_B2C_AUDIENCE=client-id-o-api-id